* {
    font-family: Verdana, arial;
}

body {
    background-image: linear-gradient(to right, #FFF, #15B3FF, #15C1FF);
}

a, a:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

a:hover {
    font-weight: bold;
}

#logo {
    width: 60px;
    padding: 15px;
}

#main-login {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 85vh;
    align-items: center;
}

#login-form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 10px 0px;
    padding: 10px 0px;
    width: 350px;
    border: none;
}

    input:hover {
        box-shadow: 1px 1px 10px 1px #666;
    }

button {
    margin: 3px 0px;
    background-color: #333;
    color: #fff;
}

    button:focus, button:hover {
        background-color: #111;
    }

#response {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    height: 50px;
    position: relative;
    font-size: 18px;
    width: 350px;
}

.login-message {
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #FFF;
    box-shadow: 1px 1px 15px 2px #000;
}