
@{
    ViewBag.Title = "TestLogin";
}

<h2>TestLogin</h2>
<form id="login-form">
    <label>Company Name:</label>
    <input type="text" id="company-name" />   
    <label>Address Line 1</label>
    <input type="text" id="address-line-1" />
    <label>Address Line 2</label>
    <input type="text" id="address-line-2" />
    <label>City:</label>
    <input type="text" id="city" />
    <label>State</label>
    <input type="text" id="state" />   
    <label>Zip</label>
    <input type="text" id="zip" />
    <label>Business Type 2 - vendor : 1 - buyer</label>
    <input type="text" id="entity" />
    <label>email</label>
    <input type="text" id="email" />
    <label>password</label>
    <input type="text" id="password" />
    <button id="submit">Submit</button>
</form>
<div id="response"></div>
<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();

        var name = $("#company-name").val();
        var email = $("#email").val();
        var pass = $("#password").val();
        var address1 = $("#address-line-1").val();
        var address2 = $("#address-line-2").val();
        var city = $("#city").val();
        var state = $("#state").val();
        var zip = $("#zip").val();
        var entity = $("#entity").val();
        var password = $("#password").val();
        var contract = {
            CompanyName: name,
            CompanyAddress: {
                AddressLineOne: address1,
                AddressLineTwo: address2,
                City: city,
                State: state,
                Zip: zip
            },
            MainContact: {
                Email: email,
                Password: password
            },
            BusinessEntity: entity
        };
        if (email != "" && pass != "") {
            $.ajax({
                url: '@Url.Action("TestRegistration", "Home")',
                data: contract,
                type: "POST",
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    $("#response").html(data);
                }
           });
        } else {
            $("#response").html("fill out both email and pass");
        }
    });

</script>

