body {
    background-image: linear-gradient(to right, #FFF, #15B3FF, #15C1FF);
}
html, body {
    height: 100%;
}

.container, .row.justify-content-center.align-items-end {
    height: 100%;
    min-height: 100%;
}
a, a:hover {
    color: #FFF;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}
