@{
    ViewBag.Title = "Home Page";
}

<img id="logo" src="~/images/ctrl_logo.png" alt="">

<form id="login-form">
    <input type='email' placeholder='johndoe@domain.com' id='email'>
    <input type='password' placeholder='********' id='password'>
    <button type='submit' id='submit'>Login</button>
    <button type="submit" id="register">Register</button>
</form>
<a href=''><p>Forgot password?</p></a>
    
<div id="response"></div>
<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();

        var email = $("#email").val();
        var pass = $("#password").val();

        if (email != "" && pass != "") {
            $.ajax({
                url: '@Url.Action("TestLogin", "Home")',
                data: {
                    UserName: email,
                    Password: pass
                },
                type: "POST",
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    $("#response").html(data);
                }
           });
        } else {
            $("#response").html("fill out both email and pass");
        }
    });

</script>