@{
    ViewBag.Title = "Home Page";
}

<img class="logo" src="~/images/ctrl_logo.png" alt="">

<main id="main-login">
    <form id="login-form">
        <div id="response"></div>
        <input type='email' placeholder='email' id='email'>
        <input type='password' placeholder='password' id='password'>
        <button type='submit' id='submit'>Login</button>
        <button type="submit" id="register">Register</button>
        <a href=''><p>Forgot password?</p></a>
    </form>
</main>
<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();

        var email = $("#email").val();
        var pass = $("#password").val();

        if (email != "" && pass != "") {
            $.ajax({
                url: '@Url.Action("TestLogin", "Home")',
                data: {
                    UserName: email,
                    Password: pass
                },
                type: "POST",
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    $("#response").html(data);
                    $("#response").attr("class", "login-message");
                }
           });
        } else {
            $("#response").html("Fill out both email and password");
            $("#response").attr("class", "login-message");
        }
    });

</script>