@{
    ViewBag.Title = "TestLogin";
}
@using CTRL_Core.Backbone.Enums
@using CTRL_Core.Domain.Enumerations

<img class="logo" src="~/images/ctrl_logo.png" alt="">
<main id="main-register">
    <h2>Register</h2>
    <form id="register-form">
        <input type="text" id="company-name" placeholder="Company Name" />
        <input type="text" id="firstName" placeholder="First Name" />
        <input type="text" id="lastName" placeholder="Last Name" />
        <input type="email" id="email" placeholder="Email" />
        <input type="text" id="address-line-1" placeholder="Address" />
        <input type="text" id="address-line-2" placeholder="Address 2" />
        <input type="text" id="city" placeholder="City" />
        <div id="location">
            <input type="text" id="zip" placeholder="Zip Code" />
            @Html.DropDownList("state", Html.GetEnumSelectList<State>(), "Select a State")
        </div>
        <input type="text" id="phone" placeholder="Phone Number" />
        <input type="password" id="password" placeholder="Password" />
        <input type="text" id="confirmPassword" placeholder="Confirm Password" />
        <div id="entity-radio">
            <label>Business Type</label>
            @Html.DropDownList("entity", Html.GetEnumSelectList<BusinessEntity>(), "Select a Business Type")
        </div>
        <button id="submit">Submit</button>
    </form>
</main>
<div id="response"></div>
<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();

        var name = $("#company-name").val();
        var email = $("#email").val();
        var pass = $("#password").val();
        var address1 = $("#address-line-1").val();
        var address2 = $("#address-line-2").val();
        var city = $("#city").val();
        var state = $("#state").val();
        var zip = $("#zip").val();
        var entity = $("#entity").val();
        var password = $("#password").val();
        var phone = $("#phone").val();
        var firstName = $("#firstName").val();
        var lastName = $("#lastName").val();
        var contract = {
            CompanyName: name,
            CompanyAddress: {
                AddressLineOne: address1,
                AddressLineTwo: address2,
                City: city,
                State: state,
                Zip: zip
            },
            MainContact: {
                Email: email,
                Password: password,
                Name: {
                    FirstName: firstName,
                    LastName: lastName
                },
                PhoneNumber: phone
            },
            BusinessEntity: entity
        };
        if (email != "" && pass != "") {
            $.ajax({
                url: '@Url.Action("TestRegistration", "Home")',
                data: contract,
                type: "POST",
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    $("#response").html(data);
                }
           });
        } else {
            $("#response").html("fill out both email and pass");
        }
    });

</script>

